<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Markdown Player</title>
<link rel="stylesheet" type="text/css" href="/static/css/github2-rightpart.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/github1-contents.css">
<link rel="stylesheet" href="/static/css/zTreeStyle.css" type="text/css">
<!-- <link href="http://cdn.bootcss.com/skeleton/2.0.4/skeleton.css" rel="stylesheet"> -->
<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
<script src="http://cdn.bootcss.com/markdown-it/4.4.0/markdown-it.min.js"></script>
<script>
  window.searchMap = location.search.substr(1).split('&').reduce(function(r, it) {
    var them = it.split('='); r[them[0]] = them[1]; return r;
  }, {});
  $.ajaxSetup({async: false});
</script>
      <style>
            .ztree li a.curSelectedNode {
                padding-top: 0px;
                background-color: #FFE6B0;
                color: black;
                height: 16px;
                border: 1px #FFB951 solid;
                opacity: 0.8;
            }
            .ztree{
                overflow: auto;
                height:100%;
                min-height: 200px;
                top: 0px;
            }
        </style>
</head>
<body>

            <div style="width:30%;">
                <ul id="tree" class="ztree" style="width: 260px; overflow: auto; position: fixed; z-index: 2147483647; border: 0px none; left: 0px; bottom: 0px;">
                <!-- 目录内容在网页另存为之后将插入到此处 -->
                </ul>
            </div>
            <div id="readme" style="width:80%;margin-left:15%;">
                <article class="markdown-body">
                </article>
            </div>
        </div>

  <div class="markdown-html">
    <script>$.get((searchMap.md || '/static/qianbaojiekou.md'), function(text) { $('.markdown-body').html(markdownit().render(text)); });</script>
  </div>

</body>
    <script src="/static/css/jquery.ztree.all-3.5.min.js"></script>
    <script src="/static/css/jquery.ztree_toc.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#tree').ztree_toc({
                is_auto_number:false,
                documment_selector:'.markdown-body',
                is_expand_all: true
            });
            $('#tree_1').hide();
        });
    </script>
</html>
